<!DOCTYPE html>
<html lang="en" ng-app='superheroApp'>
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller='heroesCtrl as vm'>
<h2>Heroes</h2>
<div ng-repeat='hero in vm.heroes'>
  <p>{{$index +1}}. {{hero.name}}</p>
  <p>{{hero.phone_number}}</p>
  <p ng-class="{'blue':hero.comics === 'Marvel','red':hero.comics === 'DC'}">{{hero.comics}}</p>
  <p><img ng-src="{{hero.img_url}}"></p>
</div>

<div>
  <input type="text" ng-model="vm.newHero">
  <button ng-click="vm.addHero()">Add Superhero</button>
  <p>User input: {{vm.newHero}}</p>

  <table id="searchHeroResults">
  <tr><th>Name</th><th>Phone</th><th>Comic</th></tr>
  <tr ng-repeat="hero in vm.heroes | filter:vm.newHero">
    <td>{{hero.name}}</td>
    <td>{{hero.phone_number}}</td>
    <td>{{hero.comics}}</td>
    <td><img ng-src="{{hero.img_url}}"></td>
  </tr>
</table>
</div>
</body>
</html>
